<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Budget App || Everything. Everywhere. All At Once">
    <title>budget</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js" defer></script>
</head>

<body>
    <div id="app">
        <h1>Budget App || Everything. Everywhere. All At Once</h1>

        <div class="add-item-form">
            <input @keyup.enter="saveInput" 
            type="number" placeholder="Enter Amount" v-model.number="newInput">

            <button 
            v-bind:disabled="newInput.length === 0"
            @:click="saveInput"
                class="btn-primary">Save</button>

            <!-- Types out what you have written in the form, directly to the page -->
            <!-- {{newInput}} -->
        
        <!-- <label><input type="radio" v-model="newInputType" value="income">Income</label>
        <label><input type="radio" v-model="newInputType" value="expense">Expense</label> -->

        <select v-model="newInputType">
            <option value="income">Income</option>
            <option value="expense">Expense</option>
        </select>
    </div>

        <p> {{newInput}} {{newInputType}}</p>
        <ul>
            <li v-for="inputObject in inputs">id: {{inputObject.id}} amount: {{inputObject.label}}</li>
            <!-- <li v-for="{label} in inputs">{{label}}</li> -->
            <!-- <li v-for="(input, key) in inputs" :key="input.id">{{key}} {{input.label}}</li> -->
        </ul>

    </div>
</body>

</html>