<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Budget App || Everything. Everywhere. All At Once">
    <title>budget</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js" defer></script>
</head>

<body>
    <div id="app"><h1>Budget App || Everything. Everywhere. All At Once</h1>
    <input @keyup.enter="saveExpense" type="text" v-model="expenseText">
    <ul>
        <!-- <li v-for="expense in expenses">{{expense.label}}</li> -->
        <!-- <li v-for="{label} in expenses">{{label}}</li> -->
        <li v-for="(expense, key) in expenses" :key="expense.id">{{key}} {{expense.label}}</li>
    </ul>

</div>
</body>
</html>